.btn-group {
    display: flex;
  }
  
  .special .btn {
    flex: 1
  }


  .myCustomClass {
    background-color:#021f2e;
    color: white;
}

#barra1{
  float: left;
}

#titulo{
  font-size: 30px;
  font-weight: 800;
}