
<p></p>
<div class="card border-dark mb-3">
    
    
    <h1 class ="card-title"> Listado de Pedido Activos</h1>
    <div>
        <table class ="table table-dark">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Direccion</th>
                    <th>Fecha de Envio</th>
                    <th>Costo Total</th>
                    <th>Ver Detalle</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of listarPedidosActivos">
                    <th>{{p.codigo}}</th>
                    <th>{{p.direccion}}</th>
                    <th>{{p.fecha_pedido | date: 'dd/MM/yy HH:mm:ss'}}</th>
                    <th>{{p.costo_total | number: '.2'}}</th>
                    <th>
                        <a class="btn btn-danger" (click)="getDetallePedidoProducto(p.codigo)">Detalle</a>
                    </th>
                </tr>
            </tbody>

        </table>

    </div>


    <table class ="table table-dark">
       
        <thead>
            <tr>
                <h1 class="h5"> Detalle del Pedido</h1>
            </tr>
            <tr>
                <th>codigo Producto</th>
                <th>Producto</th>
                <th>precio</th>
                <th>cantidad pedida</th>
                <th>Pedido</th>
            </tr>
            
            
        </thead>
        <tbody>
            <tr *ngFor="let p of pedidoProducto">
                <th>{{p.codigoProducto}}</th>
                <th>{{p.producto.nombre}}</th>
                <th>{{p.precio}}</th>
                <th>{{p.cantidad_pedida}}</th>
                <th>{{fcodigo}}</th>
            </tr>
        </tbody>

    </table>

</div>


<div class="card bg-light" *ngIf="listarPedidosPasados">
    <table class="table table-dark">
        <thead>
            <tr><h1 class="h4">Pedidos Antiguos</h1></tr>
            <tr>
                <th>Codigo</th>
                <th>Direccion</th>
                <th>Fecha de Envio</th>
                <th>Fecha de Recepcion</th>
                <th>Costo Total</th>
                <th>Cliente</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of listarPedidosPasados">
                <th>{{p.codigo}}</th>
                <th>{{p.direccion}}</th>
                <th>{{p.fecha_pedido | date: 'dd/MM/yy HH:mm:ss'}}</th>
                <th>{{p.fecha_recepcion | date: 'dd/MM/yy HH:mm:ss'}}</th>
                <th>{{p.costo_total | number: '.2'}}</th>
                <th>{{p.cliente.nombre}}</th>
            </tr>
        </tbody>
    </table>
</div>
<!--
<div class ="card border-dar mb-3">
    
    
    <h5 class ="card-title"> Detalle de Pedido</h5>
    <div>
        <form (ngSubmit)="getDetallePedidoProducto()" #buscarDetalle="ngForm">
            <div>
                <label for="FCodigo">Codigo de Pedido</label>
                <input type="number" class="form-control" id="FCodigo" name="FCodigo" required
                        [(ngModel)]="fcodigo" #FCodigo="ngModel">
                        <div *ngIf="FCodigo.invalid && (FCodigo.dirty || FCodigo.touched)" class="alert alert-danger">
                            <div *ngIf="FCodigo.errors.required">El Codigo es Requerido</div>
                        </div>
                <button type="submit" [disabled]="!buscarDetalle.form.valid">Buscar</button>
            </div>

        </form>
    
    
    
    </div>

</div>
-->