<p>create-oferta works!</p>
<div>
    <form (ngSubmit)="save()" #createOferta="ngForm">
        <div class="form-group">
            <label for="Ftitulo">Titulo</label>
            <input type="text" class="form-control" id="Ftitulo" required [(ngModel)] ="oferta.titulo" name="Ftitulo" #Ftitulo="ngModel">
            <div *ngIf="Ftitulo.invalid && (Ftitulo.dirty || Ftitulo.touched)" class="alert alert-danger">
                <div *ngIf="Ftitulo.errors.required">El Titulo es Requerido</div>
            </div>

        </div>
        <div class="form-group">
            <label for="Fdescripcion">Descripcion</label>
            <input type="text" class="form-control" id="Fdescripcion" required [(ngModel)] ="oferta.descripcion" name="Fdescripcion" #Fdescripcion="ngModel">
            <div *ngIf="Fdescripcion.invalid && (Fdescripcion.dirty || Fdescripcion.touched)" class="alert alert-danger">
                <div *ngIf="Fdescripcion.errors.required">La Descripcion es Requerida</div>
            </div>

        </div>
         <!--
        <div class="form-group">
            <label for="Fcodigo">codigo Pizzeria</label>
            <input type="number" class="form-control" id="Fcodigo" required [(ngModel)] ="fpizza" name="Fcodigo" #Fcodigo="ngModel">
            <div *ngIf="Fcodigo.invalid && (Fcodigo.dirty || Fcodigo.touched)" class="alert alert-danger">
                <div *ngIf="Fcodigo.errors.required">El Codigo es Requerido</div>
            </div>

        </div>
        -->
        <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!createOferta.form.valid">Registrar</button>
       </div>

    </form>
</div>
