<h2>Toto's Pizzeria<span class="badge badge-secondary">Admin</span></h2>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color:black;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!--<a routerLink="newPedido" class ="nav-link">Crear Pedido</a>-->
    <a routerLink="listPedido" class ="nav-link">Lista de Pedido</a>
    <a routerLink="listCliente" class ="nav-link">Clientes</a>
    
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mantenimiento  Producto
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="newProducto">Crear Producto</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="listProducto">Lista de Producto</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="updateProducto">Actualizar Producto</a>
          
        </div>
      </li>

    

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mantenimiento  oferta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="newOferta">Registrar Oferta</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="listOferta">Lista de Oferta</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="updateOferta">Actualizar Oferta</a>
          
        </div>
      </li>
    

    

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mantenimiento Producto oferta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="newPROOfer">registrar Product-Ofer</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="listarPROOfer">listar Product-Ofer</a>
          
        </div>
      </li>
    

    <a routerLink="ListPizzeria" class ="nav-link" >Datos Pizzeria</a>
    <a routerLink="newPizzeria" class ="nav-link" >Registrar Pizzeria</a>
    <a routerLink="updatePizzeria" class ="nav-link" >Actualizar Pizzeria</a>

</div>

</nav>



<router-outlet></router-outlet>