<p>create-pedido works!</p>
<div>
    <form (ngSubmit) = "save()" #createP="ngForm">
        <div>
            <label for="fdireccion">Direccion</label>
            <input type="text" class="form-control" id ="fdireccion" required [(ngModel)]="pedido.direccion" name="fdireccion" #fdireccion="ngModel">
            <div *ngIf="fdireccion.invalid && (fdireccion.dirty || fdireccion.touched)" class="alert alert-danger">
                <div *ngIf="fdireccion.errors.required">La Direccion es Requerida</div>
            </div>

        </div>
        <div>
            <label for="ffecha">Fecha</label>
            <input type="date" class="form-control" id ="ffecha" required [(ngModel)]="pedido.fecha" name="ffecha" #ffecha="ngModel">
            <div *ngIf="ffecha.invalid && (ffecha.dirty || ffecha.touched)" class="alert alert-danger">
                <div *ngIf="ffecha.errors.required">La Fecha es Requerida</div>
            </div>

        </div>
        <div>
            <label for="fcosto">Costo Total</label>
            <input type="text" class="form-control" id ="fcosto" required [(ngModel)]="pedido.costo_total" name="fcosto" #fcosto="ngModel">
            <div *ngIf="fcosto.invalid && (fcosto.dirty || fcosto.touched)" class="alert alert-danger">
                <div *ngIf="fcosto.errors.required">El Costo Total es Requerido</div>
            </div>

        </div>
        <div>
            <label for="fDNI">DNI</label>
            <input type="text" class="form-control" id ="fDNI" required [(ngModel)]="fdni" name="fDNI" #fDNI="ngModel">
            <div *ngIf="fDNI.invalid && (fDNI.dirty || fDNI.touched)" class="alert alert-danger">
                <div *ngIf="fDNI.errors.required">El DNI es Requerido</div>
            </div>

        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!createP.form.valid">Registrar</button>
        </div>

    </form>
</div>

<p></p>
<p></p>

<div>
    <form (ngSubmit) = "savePP()" #createPP="ngForm">
        <div>
            <label for="Fpedido">Codigo Pedido</label>
            <input type="number" class="form-control" id ="Fpedido" required [(ngModel)]="fpedido" name="Fpedido" #Fpedido="ngModel">
            <div *ngIf="Fpedido.invalid && (Fpedido.dirty || Fpedido.touched)" class="alert alert-danger">
                <div *ngIf="Fpedido.errors.required">El Codigo Pedido es Requerido</div>
            </div>
        </div>
        <div>
            <label for="Fproducto">Codigo Producto</label>
            <input type="number" class="form-control" id ="Fproducto" required [(ngModel)]="fproducto" name="Fproducto" #Fproducto="ngModel">
            <div *ngIf="Fproducto.invalid && (Fproducto.dirty || Fproducto.touched)" class="alert alert-danger">
                <div *ngIf="Fproducto.errors.required">El Codigo Producto es Requerido</div>
            </div>
        </div>
        <div>
            <label for="Fprecio">Precio Producto</label>
            <input type="number" class="form-control" id ="Fprecio" required [(ngModel)]="pedidoProducto.precio" name="Fprecio" #Fprecio="ngModel">
            <div *ngIf="Fprecio.invalid && (Fprecio.dirty || Fprecio.touched)" class="alert alert-danger">
                <div *ngIf="Fprecio.errors.required">El Precio es Requerido</div>
            </div>
        </div>

        <div>
            <label for="Fcantidad">Cantidad Producto</label>
            <input type="number" class="form-control" id ="Fcantidad" required [(ngModel)]="pedidoProducto.cantidad_pedida" name="Fcantidad" #Fcantidad="ngModel">
            <div *ngIf="Fcantidad.invalid && (Fcantidad.dirty || Fcantidad.touched)" class="alert alert-danger">
                <div *ngIf="Fcantidad.errors.required">La Cantidad es Requerida</div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!createPP.form.valid">RegistrarDetalle</button>
        </div>

    </form>
</div>
