

<br>
<br>
    <mat-form-field >
        <mat-label style="color:black; font-size:x-large ">Tipo de Busqueda</mat-label>
        <br>
        <mat-select [(value)]="opcion">
          <mat-option value="0">None</mat-option>
          <mat-option value="1">Nombre</mat-option>
        </mat-select>
      </mat-form-field>
      
      <p>You selected: {{opcion}}</p>
      


<form *ngIf="opcion != '0'" (ngSubmit)="listarporCriterio(formNuevo)" #formNuevo="ngForm">
    <div *ngIf="opcion == '1'" class="form-group">
        <label for="nombreBusqueda">Nombre</label>
        <input type="text" name="nombreBusqueda" class="form-control" 
        #nombre="ngModel" id="nombreBusqueda" [(ngModel)]='nombreBusqueda' required
        maxlength="50" pattern="^[a-zA-Z ]+">
        <div *ngIf="(nombre.touched) && !nombre.valid" class="alert alert-danger"
        role="alert">
            <div *ngIf="nombre.errors.required"> Este campo es requirida</div>
            <div *ngIf="nombre.errors.pattern">El campo solo debe contener letras.</div>
        </div>

    </div>
    <br>
    <button type="submit" class="btn btn-success" [disabled]="!formNuevo.form.valid">Filtrar</button>
</form>



<div class ="card border-dar mb-3">
    <h2 class ="card-title">Lista de Clientes</h2>
    <div>
        <table class ="table table-dark">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>e-mail</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of cliente">
                    <th>{{c.username}}</th>
                    <th>{{c.nombre}}</th>
                    <th>{{c.apellido}}</th>
                    <th>{{c.email}}</th>
                </tr>
            </tbody>

        </table>
    </div>

</div>