<p>act-img works!</p>

<div class="card bg-dark text-white">
  <div class="card-header">Imagen</div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <ul *ngIf="producto" class="list-group text-dark mb-3">
            <li class="list-group-item">{{producto.nombre}}</li>
            <li class="list-group-item">{{producto.descripcion}}</li>
            <li class="list-group-item">{{producto.precio}}</li>
          </ul>
    
          <div class="input-group">
            <div class="custom-file">
              <input (change)="seleccionarImagen($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
              <label class="custom-file-label" for="inputGroupFile04">Elegir Imagen</label>
            </div>
            <div class="input-group-append">
                <button (click)="subirImagen()" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Aceptar</button>
              </div>
          </div>
          <button (click)="irAlista()" class="btn btn-success" type="button">Ir a lista</button>
    
        </div>
        <div class="col-sm">
          <img *ngIf="producto?.imagen" src="http://localhost:8080/api/uploads/img/{{producto.imagen}}" alt="{{producto.imagen}}" class="img-thumbnail rounded">
        </div>

      </div>
      

    </div>
    
  </div>
</div>


